<header>
    <nav>
        <div class="header">
            <ul class="header-list">
                <li style="float: left;"><a href="{{ site.baseurl }}/index.html" class="header-button"><img src="{{ site.baseurl }}/assets/img/logo.png" class="header-img"></img> MCPI.TK</a></li>
                <li><a href="{{ site.baseurl }}/discord.html" class="header-button">Discord</a></li>
                <li><a href="{{ site.baseurl }}/news.html" class="header-button">News</a></li>
                <li><a href="{{ site.baseurl }}/screenshots.html" class="header-button">Screenshots</a></li>
                <li><a href="{{ site.baseurl }}/faq.html" class="header-button">FAQ</a></li>
                <li><a href="{{ site.baseurl }}/servers.html" class="header-button">Servers</a></li>
                <li><a href="{{ site.baseurl }}/mods.html" class="header-button">Mods</a></li>
                <li><a href="{{ site.baseurl }}/index.html" class="header-button">Home</a></li>
            </ul>
        </div>
    </nav>        
</header>
