<head>
    <title>MCPI Revival</title>
    <meta charset="utf-8" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/index.css" />
    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/logo.png" type="image/png" />
    <meta name="theme-color" content="#6abf47" />
    <!-- Twitter -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:creator" content="@mcpirevival" />
    <meta name="twitter:title" content="MCPI Revival - mcpi.tk" />
    <!-- OpenGraph -->
    <meta property="og:image" content="{{ site.baseurl }}/assets/img/logo.png" />
    <meta property="og:site_name" content="mcpi.tk" />
    <meta property="og:type" content="object" />
    <meta property="og:title" content="MCPI Revival" />
</head>
