<header>
    <nav>
        <div class="header">
            <a href="{{ site.baseurl }}/index.html" class="home-button">
                <img src="{{ site.baseurl }}/assets/img/logo.png" class="header-img"></img>
                <span>MCPI-Revival</span>
            </a>
            <label for="hamburger">&#9776;</label>
            <input type="checkbox" id="hamburger" />
            <ul class="header-list">
                <li><a href="https://discord.gg/DCwcpyf" target="_blank" class="header-button">Discord</a></li>
                <li><a href="{{ site.baseurl }}/news.html" class="header-button">News</a></li>
                <li><a href="{{ site.baseurl }}/faq.html" class="header-button">FAQ</a></li>
                <li><a href="{{ site.baseurl }}/servers.html" class="header-button">Servers</a></li>
                <li><a href="{{ site.baseurl }}/mods.html" class="header-button">Mods</a></li>
                <li><a href="{{ site.baseurl }}/phew.html" class="header-button">Troubleshooting</a></li>
            </ul>
        </div>
    </nav>
</header>
