@font-face {
    font-family: "minecraft_reg";
    src: url("../fonts/minecraft_reg.woff");
}

@font-face {
    font-family: "minecraft_alt";
    src: url("../fonts/minecraft_alt.woff");
}

:root {
    --header-height: 9vh;
    --line-height: var(--header-height);
    --img-height: 7vh;
    --img-hpadding: calc(calc(var(--line-height) - var(--img-height)) / 2);
    --img-wpadding: 1vw;
    --header-padding: calc(calc(var(--header-height) - var(--line-height)) / 2);
}

* {
    margin: 0px;
    color: #ffffff;
}

body {
    min-height: 100vh;
    background: url("../img/wall.png") center;
    background-size: 100% auto;
    background-position: 0vw 0vh;
    background-repeat: repeat;
    overflow-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
}

.footer, .header {
    font-family: "minecraft_alt";
    width: 100%;
    height: var(--header-height);
    background: rgba(51, 51, 51, 1);
    color: #ffffff;
    text-align: center;
    position: relative;
}

.footer p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

main {
    color: #ffffff;
    display: inline-block;
    min-height: calc(100vh - calc(var(--header-height) * 2));
    width: 100%;
}

.content {
    padding-top: 6vh;
    padding-bottom: 6vh;
    text-align: left;
    padding-right: 20%;
    padding-left: 20%;
    font-family: sans-serif;
}

.header-button, .home-button {
    width: auto;
    display: inline-block;
    border: none;
    overflow: none;
    outline: none;
    background: transparent;
    color: #ffffff;
    text-align: center;
    line-height: var(--line-height);
    text-decoration: none;
}

ul.header-list {
    width: auto;
    list-style-type: none;
    padding: var(--header-padding) 0px;
}

ul.header-list li {
    float: right;
}

ul.header-list li a {
    margin-left: 0.75vw;
    margin-right: 0.75vw;
}

.header-img {
    width: auto;
    float: left;
    height: var(--img-height);
    vertical-align: middle;
    padding: var(--img-hpadding) var(--img-wpadding);
}

.home-button {
    float: left;
    font-size: 1.25em;
    padding: var(--header-padding) 0px;
}

.header-button:active {
    color: #63e04c;
}

main a:hover, .header-button:hover {
    text-decoration: underline;
}

main a {
    color: #efe561;
    text-decoration: none;
}

.highlighter-rouge {
    background: rgba(0, 0, 0, 0.9);
}

main div.highlighter-rouge {
    border: 1px solid rgba(255, 255, 255, 0.15);
    padding: 12px;
}

main p, main div.highlighter-rouge {
    margin-bottom: 1.5vh;
}

main h1, main h2, main h3 {
    margin-top: 2vh;
    margin-bottom: 0.5vh;
}

main h1 {
    font-family: "minecraft_alt";
}

main img {
    max-width: 100%;
}

iframe {
    max-width: 70vw;
    min-height: 400px;
}

.page > :first-child {
    margin-top: 0 !important;
}

.title {
    margin-top: 0;
    text-align: center;
}

.foo-txt a {
    text-decoration: none;
}

#hamburger, label[for="hamburger"], .header-button, .home-button {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

#hamburger, label[for="hamburger"]
{
    display: none;
}

a[href="#on"]::before {
    content: "Online";
    color: green;
}

a[href="#off"]::before {
    content: "Offline";
    color: red;
}

a[href="#q"]::before {
    content: "Unknown";
    color: gray;
}

a[href="#on"]:hover, a[href="#off"]:hover, a[href="#q"]:hover {
    text-decoration: none;
}

.fig figcaption {
    font-size: 0.9em;
    font-style: italic;
}

center.fig {
    margin: 0.9em 0px;
}

@media screen and (max-width: 768px) {
    :root {
        --header-height: 15vh;
        --line-height: 10vh;
        --img-height: var(--line-height);
    }

    .home-button, .header-button {
        text-align: center;
        float: none;
    }

    nav {
        position: fixed;
        width: 100%;
    }

    main {
        margin-top: var(--header-height);
    }

    ul.header-list {
        float: right;
        position: fixed;
        top: 15vh;
        right: 0px;
        display: none;
        background: rgba(31, 31, 31, 1);
        min-height: 100vh;
        min-width: 25vw;
        z-index: 16;
    }

    ul.header-list li {
        float: none;
    }

    label[for="hamburger"]
    {
        display: inline-block;
        font-size: 1.5em;
        font-style: bold;
        position: absolute;
        right: 0;
        top: 0;
        line-height: var(--line-height);
        padding: var(--header-padding);
    }

    #hamburger:checked ~ ul {
        display: block;
    }

    .header-button {
        line-height: 4vh;
    }

    iframe {
        max-width: 65vw;
        min-height: 300px;
    }
}

@media screen and (max-width: 640px) {
    ul.header-list {
        min-width: 30vw;
    }
}

@media screen and (max-width: 480px) {
    ul.header-list {
        min-width: 100vw;
    }
}
